---
{{- $rbacrepo := required "ERROR: .Values.rbac_repo is required for security and must be explicitly set." .Values.rbac_repo }}
{{- $rbacrepotoken := required "ERROR: .Values.rbac_repo_token is required for security and must be explicitly set." .Values.rbac_repo_token }}
{{- $rbacrepo := .Values.rbac_repo }}
{{- $rbacrepotoken := .Values.rbac_repo_token }}

apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: rbac
data:
  RBACRepo: {{ $rbacrepo | b64enc }}
  RBACRepoToken: {{ $rbacrepotoken | b64enc }}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: github-creds
data:
  ApiBaseUrl: {{ .Values.apiBaseUrl | b64enc | quote }}
  BaseUrl: {{ .Values.baseUrl | b64enc | quote }}
  AppName: {{ .Values.github.appName | b64enc | quote }}
  AppId: {{ .Values.github.appId | b64enc | quote }}
  ClientId: {{ .Values.github.clientId | b64enc | quote }}
  ClientSecret: {{ .Values.github.clientSecret | b64enc | quote }}
  PrivateKey: {{ .Values.github.privateKey | b64enc | quote }}